.profile__button-add {
    background: url(../../../images/Vector-addButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #FFFFFF;
    min-width: 150px;
    min-height: 50px;
    margin: auto 0;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0;
}

.profile__button-add:hover {
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .profile__button-add {
        margin: 36px 19px;
        background-size: 16px;
    }
}