.header__link {
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 400;
    font-size: 18px;
    /* margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    border: none;
    color: #A9A9A9;
    background: #000000;
    padding: 0; */
}

.header__link:hover {
    opacity: 60%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    .header__link {
        font-size: 14px;
    }
}