.heder__email {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .heder__email {
        font-size: 14px;
    }
}