@import url(./vendor/fonts/fonts.css);
@import url(./vendor/normalize.css);

/*Структура для блоков*/
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/cards/cards.css);
@import url(./blocks/card/card.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/popup/popup.css);

/* Структура для элементов*/
@import url(./blocks/header/__logo/header__logo.css);

@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__button-add/profile__button-add.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__info-item/profile__info-item.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__avatar-edit-btn/profile__avatar-edit-btn.css);

@import url(./blocks/card/__content/card__content.css);
@import url(./blocks/card/__image/card__image.css);
@import url(./blocks/card/__like/card__like.css);
@import url(./blocks/card/__name/card__name.css);
@import url(./blocks/card/__delete/card__delete.css);
@import url(./blocks/card/__image-btn/card__image-btn.css);
@import url(./blocks/card/__like-count/card__like-count.css);

@import url(./blocks/footer/__info/footer__info.css);

@import url(./blocks/popup/__button-save/popup__button-save.css);
@import url(./blocks/popup/__close-button/popup__close-button.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__card-name/popup__card-name.css);
@import url(./blocks/popup/__big-image/popup__big-image.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);

/*Структура для модификаторов*/
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__input/_type/_job/popup__input_type_job.css);
@import url(./blocks/popup/__input/_type/_name/popup__input_type_name.css);
@import url(./blocks/popup/__button/_invalid/popup__button_invalid.css);
@import url(./blocks/popup/__button/_valid/popup__button_valid.css);
@import url(./blocks/popup/__input/_type/_error/popup__input_type_error.css);
@import url(./blocks/popup/_image/popup_image_big.css);

@import url(./blocks/popup/__container/_image/popup__container_image_big.css);
@import url(./blocks/popup/__container/_delete/popup__container_delete_card.css);

@import url(./blocks/popup/__title/_delete/popup__title_delete_card.css);

@import url(./blocks/card/__like/_active/card__like_active.css);